.test-button {
    z-index: 10;
}

.audio-player {
    position: fixed;
    bottom: 0;
    z-index: 10;
}

.rhap_container {
    /* background-color: #115161; */
    height: 88px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, .1);

}

.rhap_main {
    width: 1215px;
    height: 100%;
    background-color: rgb(215, 255, 215);
}

/* 115161 */

/* .audio-player .rhap_additional-controls {
    display: none;
} */

/* .audio-player .rhap_volume-controls {
    justify-content: flex-start;
} */

.audio-player.invisible {
    visibility: hidden;
}

.single-player-div .rhap_additional-controls {
    display: none;
}

.single-player-div .audio-player {
    position: unset;
}

.single-player-div .rhap_volume-container {
    display: none;
}