.test-button {
    z-index: 11;
}

.audio-player {
    position: fixed;
    bottom: 0;
    z-index: 10;
}

.rhap_container {
    height: 88px;
    padding: 0px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, .1);
}

.rhap_main {
    /* width: 1215px; */
    width: 915px;
    padding: 0px 12.5px;
    margin-left: 300px;
    height: 100%;
    background-color: rgb(215, 255, 215);
}

.audio-player.invisible {
    display: none;
}