.likeBtn {
    position: absolute;
    padding: 10px 5px;
    margin-right: 4px;
    background-color: transparent;
    border: 0px;
    color: black;
    border-radius: 100%;
    transition: color .5s;
}

.likeBtn.singlePage {
    top: 50px;
    right: 0;
}

.likeBtn>button {
    background-color: transparent;
    border: 0px;
    padding: 0px 0px 0px;
    /* padding: 10px 5px; */
    border-radius: 100%;
    margin: 0;
    color: black;
    transition: color .5s;
}

.likeCount {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 45px;
    top: 85px;
    right: 0px;
    font-size: large;
    font-weight: bolder;
    color: black;
    transition: color .5s;
}


/*↓↓↓ NIGHT MODE ↓↓↓*/

.likeBtn.night {
    color: white;
}

.likeBtn.night>button {
    color: white;
}

.likeCount.night {
    color: white;
}

/*↓↓↓ Splash Page Styling ↓↓↓*/

.likeBtn.splashPage {
    margin: 0px;
    margin-left: 20px;
    margin-top: 180px;
    z-index: 1;
    color: white;
    z-index: 2;
}

.likeBtn.splashPage button {
    color: white;
}