.like-list,
.song-list {
    margin-bottom: 88px;
}

.user-list-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    margin: 0px 0px 25px;
    padding: 15px 0px;
}

.unfocused {
    display: none;
}

.user-list-song-img {
    width: 160px;
    height: 160px;
    margin-right: 80px;
}

.user-list-song-username-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 41px;
    margin-left: 10px;
}

.user-list-song-username-div>div {
    width: fit-content;
    max-width: 600px;
}

.user-list-song-username-div>div:hover {
    cursor: pointer;
}

.user-list-username {
    font-size: small;
    color: gray;
}

.user-list-username:hover {
    color: black;
}

.user-list-song-name {
    font-size: large;
}


.user-univ-button {
    z-index: 1;
    background-color: forestgreen;
    color: black;
    border: 0;
    border-radius: 100%;
    padding: 10.5px 13px;
    position: sticky;
    transition:
        background-color .5s,
        color .5s;
}

.user-pause {
    padding: 0px .83px;
}

.user-univ-button:hover {
    background-color: green;
}

/* ↓↓↓ NIGHT MODE ↓↓↓ */

.user-list-username.night:hover {
    color: white;
}

.user-list-song-name.night {
    color: white;
}

.user-univ-button.night {
    color: rgb(16, 48, 97);
    background-color: rgb(62, 110, 170);
}