.sign-up-form-container {
    padding: 30px;
    width: 400px;
}

.sign-up-form-actual {
    display: flex;
    flex-direction: column;
}

.sign-up-form-actual>label {
    display: flex;
    flex-direction: column;
    border: 1px lightgray solid;
    margin: 10px 0px;
}

.sign-up-form-actual>button {
    background-color: forestgreen;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 10px 0px;
    margin: 10px 0px;
}

.sign-up-form-container ul {
    position: absolute;
    left: 0;
    color: red;
    margin-left: 0;
    font-weight: 700;
}

.error-spacer-sign-up {
    margin-top: 80px;
}