.all-songs-div-container {
    position: absolute;
    z-index: 1;
    top: 0;
    height: fit-content;
    margin-bottom: 88px;
    background-color: rgb(210, 255, 210);
}

.all-songs-div {
    background-color: rgb(210, 255, 210);
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 50px 10px 88px;
    width: 1220px;
    height: fit-content;
}

.all-songs-song-name {
    font-size: medium;
}

.all-songs-username {
    font-size: small;
    color: #757575;
}

.all-songs-single {
    /* border: 1px black solid; */
    margin: 10px 5px;
    width: 200px;
    padding: 17px;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    transition: background-color 1s;
}

.all-songs-single:hover {
    cursor: pointer;
    background-color: rgba(34, 139, 34, 0.4);
}

.all-song-img-btn-div {
    display: grid;
    height: 100%;
    width: 100%;
}

.univ-play-pause-button {
    z-index: 1000;
    background-color: forestgreen;
    border: 0;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 10px 13px;
    position: sticky;
}



.all-song-img-btn-div>button:hover {
    background-color: green;
    /* border-radius: 10px; */
}

.all-songs-single-img {
    height: 180px;
    width: 100%;
    border: 1px rgba(0, 0, 0, .4) solid;
}

/*         ↓↓↓ Single Song ↓↓↓         */

.single-song-container-div {
    position: absolute;
    top: 0;
    z-index: 1;
    border-top: 51px rgb(210, 255, 210) solid;
    border-bottom: 88px rgb(210, 255, 210) solid;
    width: 1240px;
}

.single-song-div {
    border-bottom: gray 2px solid;
    margin-bottom: 10px;
    margin-left: 15px;
}

.single-song-info-img-div {
    display: flex;
    justify-content: space-between;
}

.song-name-uploader-div {
    margin-left: 10px;
}

.song-name-div {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(50, 62, 50);
    font-size: xx-large;
    padding: 5px 10px;
}

.song-uploader-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: rgb(50, 62, 50);
    /* background-color: white; */
    color: white;
    width: fit-content;
    font-size: small;
}

.single-song-info-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}

.single-song-desc {
    overflow-wrap: break-word;
    width: 700px;
    height: 200px;
    overflow: auto;
    background-color: rgb(70, 90, 70);
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.single-song-desc.false {
    visibility: hidden;
}

.info-buttons-div {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    max-width: 550px;
}

.edit-delete-buttons-div button {
    background-color: forestgreen;
    color: white;
    border-radius: 20px;
    padding: 10px;
    /* margin: 10px 0px; */
    border: 0px;
}

.edit-delete-buttons-div button:hover {
    background-color: green;
}

.edit-delete-buttons-div {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 510px;
    margin-top: 10px;
}

.univ-play-pause-button.single {
    margin-right: 20px;
}

.univ-play-pause-button.single:hover {
    background-color: green;
}

.pfp-info-div {
    display: flex;
    align-items: center;
}

.single-song-img {
    width: 500px;
    height: 500px;
}

.uploader-pfp {
    width: 80px;
    height: 80px;
}

.comments-gen-div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
}

.username-conditional-div {
    display: flex;
    align-items: center;
    color: #757575;
}

/* .comments-button-div {
    margin-left: 10px;
} */

.comments-button-div>button {
    background-color: forestgreen;
    color: white;
    border: 0px;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 10px;
}

.comments-button-div>button:hover {
    background-color: green;
}

.conditional-bar-button>button {
    background-color: transparent;
    border: 0px;
    padding: 10px 20px;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
}

.conditional-bar-button>button:hover {
    background-color: rgba(31, 92, 29, 0.5);
}

.comment-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: rgb(15, 65, 50);
}

.comment-form>input {
    margin-bottom: 5px;
    background-color: rgb(15, 65, 50);
    transition: background-color 1s;
    color: white;
}

.comment-form>input::placeholder {
    color: rgb(190, 190, 190);
}

.comment-form>input:focus {
    outline: none;
    background-color: rgb(70, 90, 70);
}

.chara-count {
    color: lightgreen;
}

.all-comments-div {
    width: 80%;
}

.comment-form>input {
    border: lightgray;
    width: 100%;
    height: 30px;
}

.comment-pfp {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.single-comment-div {
    display: flex;
    margin: 20px 0px;
}


/* Button Dropdown*/

.btn-drop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-drop-container button {
    background-color: transparent;
    color: black;
    border: 0;
    border-radius: 20px;
}

.btn-drop-container>button:hover {
    background-color: rgba(0, 0, 0, .3);
}

.btn-dropdown-div {
    background-color: rgb(240, 255, 240);
    border: black 1px solid;
    position: absolute;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
}

.btn-dropdown-div.song-drop {
    top: 0;
    right: 0;
}

.btn-dropdown-div.comment-drop {
    left: 0;
    margin-top: -19px;
    margin-left: 270px;
    border-radius: 5px;
}

.btn-dropdown-div button:hover {
    border-radius: 0px;
}

.btn-dropdown-div button:hover {
    background-color: rgba(0, 0, 0, .1);
}

.btn-dropdown-div.hidden {
    display: none;
}

.cbtn-dropdown-div.hidden {
    display: none;
}