#modal {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    position: absolute;
    background-color: rgb(230, 255, 230);
    border-radius: 20px;
}

#modal-content input {
    background-color: transparent;
    transition: color .5s;
}

#modal-content textarea {
    background-color: transparent;
    transition: color .5s;
}

#modal-content button {
    transition: background-color .6s;
}

#modal-content button:hover {
    background-color: green;
}

#modal-content input:focus {
    outline: none;
    color: white;
    border: 0;
}

#modal-content textarea:focus {
    outline: none;
    color: white;
}

#modal-content label:hover {
    cursor: text;
}

.fa-xmark {
    position: absolute;
    margin: 20px 15px;
    margin-left: 0;
    margin-bottom: 0;
    right: 0;
    top: 0;
}

.fa-xmark:hover {
    cursor: pointer;
}

.label-in-div {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 1px 1px rgb(170, 170, 170);
    background-color: rgb(230, 255, 230);
    padding: 5px;
    border-radius: 10px;
    margin: 20px 0px;
    transition:
        background-color .5s,
        box-shadow .5s,
        color .5s;
    font-weight: 700;
}

.focus {
    background-color: rgba(100, 180, 100, .7);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .5);
    color: white;
}