.comment-edit-form-div {
    width: 400px;
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.comment-edit-form>button {
    width: 100%;
    background-color: forestgreen;
    color: white;
    border: 0px;
    border-radius: 10px;
    padding: 10px 0px;
}

.chara-count-modal {
    color: rgb(84, 178, 84);
}

.night .chara-count-modal {
    color: skyblue;
}