.profile-dropdown {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    border: lightgray 1px solid;
    width: 200px;
    overflow: hidden;
}

.dropdown-logged-in {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.dropdown-logged-in>div {
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 0px 10px 10px;
}

.dropdown-logged-in>div:hover {
    background-color: rgba(0, 0, 0, .1);
    cursor: default;
}

.dropdown-logged-in>button {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    border: 0px;
    padding: 10px 0px;
    padding-left: 10px;
    font-size: medium
}

.dropdown-logged-in>button:hover {
    background-color: lightgray;
}

.dropdown-logged-out {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dropdown-logged-out>button {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 0px;
    padding: 10px 0px;
    font-size: medium
}

.dropdown-logged-out>button:hover {
    background-color: lightgray;
}

.dropdown-logged-out>.open-modal-button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0px;
}

.dropdown-logged-out>.open-modal-button:hover {
    background-color: lightgray;
}

.hidden {
    display: none;
}

.open-modal-button:hover {
    cursor: pointer;
}

.modal-but-test>button {
    background-color: transparent;
    color: white;
    font-size: larger;
    padding: 0px 10px;
    height: 100%;
    border: 0px;
}

.modal-but-test>button:hover {
    background-color: rgba(0, 10, 0, .7);
}

.fas {
    font-size: xx-large;
    color: white;
}

.fa-brands {
    font-size: xx-large;
    color: white;
}

.fa-moon {
    font-size: xx-large;
    color: white;
    padding: 0px 4px;
}

.fa-sun {
    font-size: xx-large;
    color: white;
}

.brand-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .brand-btn-div>button {
    padding: 0px 20px;
} */

.profile-button-actual {
    background-color: transparent;
    padding: 0px 10px;
    border: 0px;
    height: 50px;
    margin: 0px;
}

.profile-button-actual:hover {
    background-color: rgba(0, 10, 0, .7);
}

.nav-container {
    z-index: 9;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    /* background-color: rgb(43, 147, 180); */
    background-color: rgb(1, 49, 35);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    transition: background-color .5s;
}

.nav-bar-div {
    /* background-color: #333333; */
    position: fixed;
    height: 50px;
    color: white;
    width: 1240px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}

.title-icon-div {
    /* background-color: rgb(10, 30, 10); */
    background-color: rgba(0, 10, 0, .7);
    padding: 0px 20px;
    display: flex;
    align-items: center;
    font-size: xx-large;
    transition: background-color .5s;
}

.title-icon-div:hover {
    cursor: pointer;
}

.log-icon-img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    background-color: transparent;
    /* width: 100px;
    height: 100px; */
}

.nav-button-div {
    display: flex;
    /* margin-right: 90px; */
}

/*   NIGHT MODE   */

.profile-dropdown.night {
    background-color: black;
    color: white;
    border: 1px solid rgba(255, 255, 255, .3);
}

.profile-dropdown.night button {
    color: white;
}

.profile-dropdown.night button:hover {
    background-color: rgba(255, 255, 255, .2);
}

.profile-dropdown.night .open-modal-button:hover {
    background-color: rgba(255, 255, 255, .2);
}

.nav-container.night {
    background-color: rgb(23, 31, 44);
}

.title-icon-div.night {
    background-color: rgba(0, 0, 22, 1);
}

.profile-button-actual.night:hover {
    background-color: rgb(0, 0, 22);
}

.modal-but-test.night>button:hover {
    background-color: rgb(0, 0, 22);
}