.player-img-name-container {
    /* width: 1240px; */
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    height: 88px;
    z-index: 9;
    overflow-wrap: break-word;
}

.player-img-name-container.invisible {
    display: none;
}

.place-container {
    position: fixed;
    bottom: 0;
    width: 1240px;
}

.player-img-actual {
    z-index: 8;
    max-height: 88px;
    max-width: 88px;
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    /* left: 0; */
}

.name-test {
    z-index: 7;
    background-color: rgb(210, 255, 210);
    display: flex;
    align-items: center;
    padding-left: 100px;
    border-right: 200px solid rgb(210, 255, 210);
    width: 190px;
    height: 88px;
    position: fixed;
    bottom: 0;
}