.comments-container-div {
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
}

/* ↓↓↓ Comment Form ↓↓↓ */

.conditional-bar-button>button {
    background-color: transparent;
    border: 0px;
    padding: 10px 20px;
    margin: 27px 0px;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
}

.conditional-bar-button>button:hover {
    /* background-color: rgba(31, 92, 29, 0.5); */
    background-color: rgba(0, 0, 0, .4);
}

.comment-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: rgb(15, 65, 50);
    transition: background-color .5s;
}

.comment-form>input {
    margin-bottom: 5px;
    /* background-color: rgb(15, 65, 50); */
    background-color: transparent;
    transition: background-color 1s;
    color: white;
    width: 100%;
    height: 30px;
}

.comment-form>input::placeholder {
    color: rgb(190, 190, 190);
}

.comment-form>input:focus {
    outline: none;
    background-color: rgb(70, 90, 70);
}

.chara-count {
    color: lightgreen;
    transition: color .5s;
}

/*   FORM NIGHT MODE   */
.conditional-bar-button.night>button {
    color: white;
}

.conditional-bar-button.night>button:hover {
    background-color: rgba(255, 255, 255, .1);
}

.comment-form.night {
    /* background-color: rgb(15, 65, 50); */
    background-color: rgb(3, 36, 88);
}

.comment-form.night>input:focus {
    outline: none;
    /* background-color: rgb(1, 13, 32); */
    background-color: rgb(7, 15, 50);
}

.chara-count.night {
    color: skyblue;
}


/* ↓↓↓ Comment Display ↓↓↓ */

.all-comments-div {
    width: 80%;
    transition: color .5s;
}

.single-comment-div {
    display: flex;
    margin: 15px 0px;
    height: 50px;
}

.comment-pfp {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.username-conditional-div {
    display: flex;
    align-items: center;
    color: #757575;
    transition: color .5s;
}

/* .comment-drop-comp-container {
    position: absolute;
} */

/*   NIGHT MODE   */

.all-comments-div.night {
    color: white;
}

.username-conditional-div {
    color: rgb(170, 170, 170);
}