.comments-container-div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
}

/* ↓↓↓ Comment Form ↓↓↓ */

.conditional-bar-button>button {
    background-color: transparent;
    border: 0px;
    padding: 10px 20px;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
}

.conditional-bar-button>button:hover {
    background-color: rgba(31, 92, 29, 0.5);
}

.comment-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: rgb(15, 65, 50);
}

.comment-form>input {
    margin-bottom: 5px;
    background-color: rgb(15, 65, 50);
    transition: background-color 1s;
    color: white;
    width: 100%;
    height: 30px;
}

.comment-form>input::placeholder {
    color: rgb(190, 190, 190);
}

.comment-form>input:focus {
    outline: none;
    background-color: rgb(70, 90, 70);
}

.chara-count {
    color: lightgreen;
}

/* ↓↓↓ Comment Display ↓↓↓ */

.all-comments-div {
    width: 80%;
}

.single-comment-div {
    display: flex;
    margin: 20px 0px;
}

.comment-pfp {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.username-conditional-div {
    display: flex;
    align-items: center;
    color: #757575;
}

/* .comment-drop-comp-container {
    position: absolute;
} */