/*         ↓↓↓ Single Song ↓↓↓         */

.single-song-container-div {
    position: absolute;
    top: 0;
    z-index: 1;
    border-top: 51px rgb(210, 255, 210) solid;
    border-bottom: 88px rgb(210, 255, 210) solid;
    width: 1240px;
}

.single-song-div {
    border-bottom: gray 2px solid;
    margin-bottom: 10px;
    margin-left: 15px;
}

.single-song-info-img-div {
    display: flex;
    justify-content: space-between;
}

.song-name-uploader-div {
    margin-left: 10px;
}

.song-name-div {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(50, 62, 50);
    font-size: xx-large;
    padding: 5px 10px;
}

.song-uploader-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: rgb(50, 62, 50);
    /* background-color: white; */
    color: white;
    width: fit-content;
    font-size: small;
}

.single-song-info-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}

.single-song-desc {
    overflow-wrap: break-word;
    width: 700px;
    height: 200px;
    overflow: auto;
    background-color: rgb(70, 90, 70);
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.single-song-desc.false {
    visibility: hidden;
}

.info-buttons-div {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    max-width: 550px;
}

.univ-play-pause-button.single {
    margin-right: 20px;
}

.univ-play-pause-button.single:hover {
    background-color: green;
}

.pfp-info-div {
    display: flex;
    align-items: center;
}

.single-song-img {
    width: 500px;
    height: 500px;
}

.uploader-pfp {
    width: 80px;
    height: 80px;
}