.song-form-div {
    z-index: 1;
    position: absolute;
    background-color: white;
    border-top: 50px solid white;
    width: 1240px;
    height: 100%;
}

.new-song-img {
    width: 500px;
    height: 500px;
}