.song-form-div {
    z-index: 1;
    position: absolute;
    border-top: 50px solid transparent;
    border-bottom: 100px solid transparent;
    width: 1240px;
    height: fit-content;
    font-weight: bolder;
    color: rgb(20, 70, 55);
}


.all-content-div input {
    border: 1px transparent solid;
    border-top: 1px solid rgb(150, 150, 150);
    background-color: rgb(210, 255, 210);
    transition: background-color 1s;
}

.all-content-div input:focus {
    outline: none !important;
    background-color: rgba(34, 139, 34, 0.4);
}


.all-content-div textarea {
    border-top: 1px solid rgb(150, 150, 150);
    transition: background-color 1s;
}

.all-content-div textarea:focus {
    outline: none !important;
    background-color: rgba(34, 139, 34, 0.4);
}

.required {
    color: red;
}

.notif {
    margin-bottom: 5px;
}

.text-label:hover {
    cursor: text;
}

.mp3-in-class:hover {
    cursor: pointer;
}

.all-content-div {
    display: flex;
    justify-content: space-between;
    /* margin: 0px 20px; */
}

.new-song-form {
    margin: 0px 30px;
}

.new-song-img {
    width: 500px;
    height: 500px;
    border: 1px rgba(0, 0, 0, .3) solid;
}

/* rgb(210, 255, 210) */

.form-colored-input {
    background-color: rgb(210, 255, 210);
}

.song-form-input-fields {
    width: 100%;
    border: rgba(0, 0, 0, .3) 1px solid;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/* .new-song-img-assignment {
    margin-right: 10px;
    height: 100%;
} */

.song-form-input-fields.img {
    width: 97%;
    margin-bottom: 10px;
}

.name-song-desc-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    /* width: 100%; */
}

.song-form-textarea {
    resize: none;
    height: 100px;
    width: 100%;
}

.song-form-gen-but-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* .file-select-input {
    
} */

input::file-selector-button {
    margin: 10px 0px;
    margin-right: 10px;
    padding: 10px;
    /* background-color: transparent; */
    border-radius: 5px;
    background-color: forestgreen;
    color: white;
    border: 0px;
}

input::file-selector-button:hover {
    cursor: pointer;
    background-color: green;
}

.song-form-buttons {
    width: 300px;
    height: 40px;
    background-color: forestgreen;
    color: white;
    border: 0px;
    border-radius: 5px;
    margin: 20px 40px 0px;
}

.song-form-buttons:hover {
    background-color: green;
}