.profile-dropdown {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    border: lightgray 1px solid;
    width: 130px;
    /* padding: 10px; */
    overflow: hidden;
}

.dropdown-logged-in {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dropdown-logged-in>div {
    width: 100%;
    padding: 10px;
}

.dropdown-logged-in>button {
    display: flex;
    justify-content: baseline;
    background-color: transparent;
    border: 0px;
    padding: 10px;
    font-size: medium
}

.dropdown-logged-in>button:hover {
    background-color: lightgray;
}

.dropdown-logged-out {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dropdown-logged-out>button {
    display: flex;
    justify-content: baseline;
    background-color: transparent;
    border: 0px;
    padding: 10px;
    font-size: medium
}

.dropdown-logged-out>button:hover {
    background-color: lightgray;
}

.dropdown-logged-out>.open-modal-button {
    width: 100%;
    padding: 10px;
}

.dropdown-logged-out>.open-modal-button:hover {
    background-color: lightgray;
}

.hidden {
    display: none;
}

.open-modal-button:hover {
    cursor: pointer;
}

.modal-but-test>button {
    background-color: transparent;
    color: white;
    font-size: larger;
    padding: 0px 10px;
    height: 100%;
    border: 0px;
}

.modal-but-test>button:hover {
    background-color: rgba(0, 10, 0, .7);
}

.fas {
    font-size: xx-large;
    color: white;
}

.fa-brands {
    font-size: xx-large;
    color: white;
}

.brand-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .brand-btn-div>button {
    padding: 0px 20px;
} */

.profile-button-actual {
    /* position: absolute;
    top: 0;
    left: 1210px; */
    background-color: transparent;
    padding: 0px 10px;
    border: 0px;
    height: 50px;
    margin: 0px;
}

.profile-button-actual:hover {
    background-color: rgba(0, 10, 0, .7);
}

.nav-container {
    z-index: 9;
    position: fixed;
    top: 0;
    /* background-color: rgb(43, 147, 180); */
    background-color: rgb(1, 49, 35);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.nav-bar-div {
    /* background-color: #333333; */
    position: fixed;
    height: 50px;
    color: white;
    width: 1240px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}

.title-icon-div {
    /* background-color: rgb(10, 30, 10); */
    background-color: rgba(0, 10, 0, .7);
    padding: 0px 20px;
    display: flex;
    align-items: center;
    font-size: xx-large;
}

.title-icon-div :hover {
    cursor: pointer;
}

.log-icon-img {
    width: 50px;
    height: 50px;
    /* width: 100px;
    height: 100px; */
}

.nav-button-div {
    display: flex;
    /* margin-right: 90px; */
}