.all-songs-div-container {
    position: absolute;
    z-index: 1;
    top: 0;
    height: fit-content;
    margin-bottom: 88px;
    /* background-color: rgb(210, 255, 210); */
    background-color: transparent;
}

.all-songs-div {
    /* background-color: rgb(210, 255, 210); */
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 50px 10px 88px;
    width: 1220px;
    height: fit-content;
}

.all-songs-song-name {
    width: 200px;
    height: 19px;
    font-size: medium;
    overflow: hidden;
    white-space: nowrap;
    word-break: normal;
    text-overflow: ellipsis;
    translate: text-overflow 1s;
    color: black;
    transition: color .5s;
}

.all-songs-song-name.night {
    color: white;
}

/* save for potential text animation */
/* .all-songs-song-name:hover {
    text-overflow: clip;
} */


.all-songs-username {
    width: 180px;
    font-size: small;
    color: rgb(117, 117, 117);
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color .5s;
}

.all-songs-single {
    /* border: 1px black solid; */
    margin: 10px 5px;
    width: 200px;
    padding: 17px;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: rgba(170, 200, 170, .2);
    transition: background-color 1s;
}

.all-songs-single:hover {
    cursor: pointer;
    /* background-color: rgba(34, 139, 34, 0.4); */
    background-color: rgba(34, 139, 34, 0.4);
}

.all-song-img-btn-div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 200px;
    width: 200px;
    margin-bottom: 3px;
}

.univ-play-pause-button {
    background-color: transparent;
    color: transparent;
    border: 0;
    margin-right: 10px;
    border-radius: 100%;
    padding: 15px 18px;
    position: absolute;
    transition:
        background-color .5s,
        color .5s,
        margin-bottom .5s,
}

.univ-play-pause-button.hovered {
    background-color: forestgreen;
    color: black;
    margin-bottom: 10px;
}

.fa-play {
    font-size: xx-large;
}

.fa-pause {
    font-size: xx-large;
    padding: 0px 2px;
}

/* .univ-play-pause-button {
    z-index: 1000;
    background-color: forestgreen;
    border: 0;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 10px 13px;
    position: sticky;
} */



.all-song-img-btn-div>button:hover {
    background-color: green;
    /* border-radius: 10px; */
}

.all-songs-single-img {
    position: absolute;
    height: 200px;
    width: 200px;
    border: 1px rgba(0, 0, 0, .4) solid;
    border-radius: 5px;
}

/* NIGHT MODE */

.all-songs-single.night {
    /* background-color: rgba(170, 170, 200, .2); */
    background-color: rgba(99, 99, 147, .3);
    /* background-color: rgba(34, 34, 139, .6); */

}

.all-songs-single.night:hover {
    cursor: pointer;
    /* background-color: rgba(34, 34, 139, .6); */
    /* background-color: rgba(76, 76, 255, .7); */
    /* background-color: rgba(138, 43, 226, .5); */
    background-color: rgba(62, 110, 170, .4);

}

.all-songs-song-name.night {
    color: white;
}

.all-songs-username.night {
    color: rgb(170, 170, 170);
}

.univ-play-pause-button.hovered.night {
    color: rgb(62, 110, 170);
    background-color: rgb(16, 48, 97);
}

.univ-play-pause-button.night:hover {
    background-color: rgb(7, 19, 38);
}