.all-songs-div-container {
    width: 1220px;
    height: fit-content;
    position: absolute;
    top: 0;
    margin: 50px 10px 88px;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.all-songs-single {
    margin: 5px;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(170, 200, 170, .2);
    transition: background-color 1s;
}

.all-songs-single:hover {
    cursor: pointer;
    background-color: rgba(34, 139, 34, 0.4);
}

/* unnamed div in between */

/* ↓↓↓ to be renamed and refactored ↓↓↓ */

.all-songs-img-div {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 200px;
    width: 200px;
    margin-bottom: 5px;
}

/* ↑↑↑ to be renamed and refactored ↑↑↑ */

.all-songs-single-img {
    position: absolute;
    height: 200px;
    width: 200px;
    border: 1px rgba(0, 0, 0, .4) solid;
    border-radius: 5px;
}

.all-songs-song-name {
    width: 200px;
    height: 19px;
    font-size: medium;
    overflow: hidden;
    white-space: nowrap;
    word-break: normal;
    text-overflow: ellipsis;
    translate: text-overflow 1s;
    color: black;
    transition: color .5s;
}

.all-songs-username {
    width: 180px;
    font-size: small;
    color: rgb(117, 117, 117);
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color .5s;
}

.univ-play-pause-button {
    background-color: transparent;
    color: transparent;
    border: 0;
    margin-left: 151px;
    margin-top: 160px;
    border-radius: 100%;
    padding: 20px 18px;
    position: absolute;
    transition:
        background-color .5s,
        color .5s,
        margin-top .5s,
}

.splash-pause {
    padding: 0px 1.67px;
}


.univ-play-pause-button.hovered {
    background-color: forestgreen;
    color: black;
    margin-top: 154px;
}

.univ-play-pause-button.hovered:hover {
    background-color: green;
}

/* ↓↓↓ NIGHT MODE ↓↓↓ */

.all-songs-single.night {
    background-color: rgba(99, 99, 147, .3);
}

.all-songs-single.night:hover {
    background-color: rgba(62, 110, 170, .4);
}

.all-songs-song-name.night {
    color: white;
}

.all-songs-username.night {
    color: rgb(170, 170, 170);
}

.univ-play-pause-button.hovered.night {
    color: rgb(62, 110, 170);
    background-color: rgb(16, 48, 97);
}

.univ-play-pause-button.night:hover {
    background-color: rgb(7, 19, 38);
}