.log-in-form-container {
    padding: 30px;
    width: 400px;
    height: 400px;
}

.log-in-form-container h1:hover {
    cursor: default;
}

.log-in-form-container ul {
    position: absolute;
    left: 0;
    color: red;
    margin-left: 0;
    font-weight: 700;
}

.log-in-form-actual {
    display: flex;
    flex-direction: column;
}

.error-spacer-div {
    margin-top: 40px;
}

.log-in-form-actual button {
    background-color: forestgreen;
    color: white;
    border: 0px;
    border-radius: 10px;
    padding: 10px 0px;
    margin: 10px 0px;
}